body{
    background: #00c3ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.outskirt{
    margin: auto;
}

.main{
    background-color:rgb(255,255,255,0.7);
    -webkit-box-shadow: 0px 0px 18px 0px rgba(172, 172, 172, 0.75);
    -moz-box-shadow: 0px 0px 18px 0px rgba(172, 172, 172, 0.75);
    box-shadow: 0px 0px 18px 0px rgba(172, 172, 172, 0.75);
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 600px;
    border-radius: 10px;
}

.title{
    text-decoration: underline rgb(0, 195, 255);
    text-align: center;
    color: rgb(1, 194, 253);
    font-family: 'sans-serif', 'helvetica';
    padding-top: 10px;
}

.box{
    display: flex;
    justify-content: space-around;
}

.jokeOutline{
    height: 200px;
    width: 350px;
}

.joke{
    box-sizing: border-box;
    font-family: 'Stylish', sans-serif;
    color: rgb(58, 58, 58);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border-width: 3px;
     border-style: solid;
    border-image: linear-gradient(
      to bottom, 
      rgb(0, 183, 255), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
    border-radius: 10px;
}

.topicSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    color: black;
}
.selectBtn{
    font-family: 'Luckiest Guy', cursive, 'sans-serif', 'helvetica';
    font-size: 18px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    color: white;
    border-color: transparent;
    background-color: rgb(0, 204, 255);
    border: none;
    outline: none;
}

.selectBtn:hover,.selectBtn:active{
    background-color: rgb(255, 230, 0);
    color: black;
}
.selectBtn:active{
    background-color: rgb(190, 171, 0);
    color: black;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

button{
    font-family: 'Luckiest Guy', cursive, 'sans-serif', 'helvetica';
    font-size: 24px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    color: white;
    border-color: transparent;
    background-color: rgb(0, 153, 255);
    border: none;
    outline: none;
}
button:hover{
    background-color: rgb(255, 230, 0);
    color: black;

}
button:active{
    background-color: rgb(190, 171, 0);
    color: black;
}